/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}
html {
    overflow-y: scroll;
    background-color: #556B2F;
}

body {
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding: 0;
    color: #111;
    background-color: #fff;
    font: 100.01%/1.2 Roboto, Geneva, sans-serif;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}


.inner-wrap-main {
    padding-bottom: 48px;
}

.outer-wrap-header {
    height: 48px;
    margin-bottom: 12px;
}

.region-navbar {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%
  }
.region-breadcrumb {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%
  }
.region-flash {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%
  }

    .breadcrumb-list ul, .bullet-list ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .breadcrumb-list li, .bullet-list li {
        display: inline;
        margin: 0;
        padding: 0;
    }
    .breadcrumb-list li::after, .bullet-list li::after {
        content: " » "}

.inner-wrap.inner-wrap-header {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

article {
    display: block;
}

header {
    display: block;
}

.site-logo {
    position: relative;
    display: none;
    top: 10px;
    left: 10px;
}

.site-logo-text {
    font-family: Roboto,Times,serif;
    padding-left: .2em;
}

.figure.right {
    float: right;
    margin-left: 8px;
}

.row {
    display: block;
    width: 101.04166667%;
    margin-left: -.52083333%;
    margin-right: -.52083333%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.region-main {
    display: inline;
    float: left;
    width: 73.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%;
    margin-left: 8.85416667%;
}

.route- .outer-wrap-flash {
    margin-bottom: 24px;
}

.outer-wrap-footer {
    background-color: #465927;
    padding-top: 24px;
    padding-bottom: 48px;
}

.outer-wrap-header {
    height: 48px;
    margin-bottom: 12px;
}

.small, .smaller, small {
    font-size: .875em;
}

.figure-center {
      display: table;
      padding: 2em;
      margin: 0;
      margin-bottom: 20px;
      margin: auto;
}

.footer-column-wrapper {
    color: #ffffff;
    border-bottom: 1px solid #666;
    padding-bottom: 24px;
    margin-bottom: 48px;
}

.footer-column {
    display: inline;
    float: left;
    width: 32%;
    margin-left: .4%;
    margin-right: .4%;
    padding-bottom: 20px;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
}
